<form class="flex justify-center mt-6">
  <mat-form-field>
    <mat-label>Enter the location</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="control"
      [matAutocomplete]="auto"
      required
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="locationChange.emit($event.option.value)"
    >
      @for (location of locations; track location) {
      <mat-option [value]="location">{{ location }}</mat-option>
      } @for (location of favoriteLocations; track location) {
      <mat-option [value]="location">{{ location }} ☆</mat-option>
      }
    </mat-autocomplete>
    @if (control.invalid && control.errors && control.errors.required) {
    <mat-error>You must enter a value</mat-error>
    }
  </mat-form-field>
</form>
@if (error && !control.errors?.required) {
<p class="bg-red-400 p-2 border border-red-500 m-auto w-max">{{ error }}</p>
}
